.buttons {
    width: 100px;
    height: 85px;
    margin-left: 15px;
    border-radius: 25px;
}

#analyzeButton {
    color: black;
}

#resetButton {
    color: red;
    margin-left: 100px;
}

#uploadButton {
    color: blue;
    margin-left: 100px;
    padding-top: -100px;
}

.body_div {
    display: flex;
    margin-left: 15px;
    width: 80%;
}

.box, .secondBox {
    margin-top: 15px;
    width: 50%;
}

.but {
    margin-top: 70px;
}

#keywordSearchBar {
    outline: none;
}

#textBox {
    height:775px; 
    width:80%; 
    border-radius: 5px; 
    padding-left : 6px;

    /* fix for resizing textarea */
    min-height: 775px;
    max-width: 80%;
    min-width: 20%;
    
}

.keyword {
    display: flex;
    text-align:center;
    width:500px;
    border-bottom: 1px solid gainsboro;
}

.word, .freq {
    width: 50%;
    overflow-wrap: anywhere;
}