.buttons {
    width: 100px;
    height: 85px;
    margin-left: 15px;
    margin-top: 55px;
}

#analyzeButton {
    border-radius: 25px;
}

#resetButton {
    color: red;
    margin-left: 100px;
    border-radius: 25px;
    
}

#uploadButton {
    color: blue;
    margin-left: 100px;
    padding-top: -100px;
}

.box {
    margin-left: 15px;
    margin-top: 15px;
}

.secondBox {
    margin-left: 565px;
    margin-top: -800px;
}

.frequency {
    margin-top: -406px;
    margin-left: 215px;
}

.but {
    margin-top: 250px;
}

#keywordSearchBar {
    outline: none;
}

#textBox {
    height:775px; 
    width:500px; 
    border-radius: 5px; 
    padding-left : 6px;

    /* fix for resizing textarea */
    min-height: 775px;
    max-width: 500px;
    min-width: 294px;
    
}